/*
* Calendar 
*
*/
/* Variables */
#calendar {
  padding-top: 1.5em;
  padding-bottom: 2em; }
  #calendar h2 {
    margin: 0 0 .5em; }

.day {
  overflow: hidden;
  margin: 0 0 .25em;
  padding-left: 14px; }
  .day span.date {
    font-size: 1.5em; }
    .wf-active .day span.date {
      font-family: 'Crete Round', sans-serif;
      font-weight: normal; }
  .day h3 {
    font-size: 1em;
    clear: both;
    margin-top: 0;
    margin-left: -14px; }
  .day a {
    width: 70%;
    float: left;
    margin-bottom: .5em; }
  .day .time {
    float: right;
    clear: right;
    color: #666;
    margin-bottom: 0 !important; }

#calendars {
  margin: 1.5em 0;
  padding: .75em 0;
  clear: both;
  border-top: solid 1px #DDD;
  border-bottom: solid 1px #DDD;
  overflow: hidden; }

@media all and (min-width: 600px) {
  #calendar {
    border-top: none;
    border-bottom: none; }
    #calendar h2 {
      font-size: 1.5em;
      border-bottom: 1px solid #ddd;
      margin-bottom: 18px; }

  .day {
    font-size: .9em;
    clear: both;
    padding-top: 0;
    margin-bottom: .75em;
    overflow: hidden; }
    .day h3 {
      margin-top: 0; }
    .day .date {
      font-size: 1.5em; }
    .day a {
      width: 65%;
      float: left;
      clear: both;
      margin-bottom: .75em; }
    .day .time {
      clear: none;
      width: 34%;
      float: right;
      text-align: right; }

  #calendars {
    clear: both; } }
@media all and (min-width 800px) {
  .day {
    font-size: 1em; }
    .day a {
      width: 72%; }
    .day .time {
      width: 27%; } }
@media all and (min-width: 900px) {
  .day a {
    width: 74%; }
  .day .time {
    width: 25%; } }
